.btn {
  border-radius: 5px;
  padding: 5px 42px;
  background: var(--orange);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: var(--white);
  border: none;
  padding: 20px 20px;
}
