.header {
  @media (max-width: 1100px) {
    background-color: var(--white);
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    min-height: 94px;
    @media (max-width: 567px) {
      min-height: 80px;
    }
  }
  &__left {
  }
  &__left-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border-right: 1px solid var(--gray);
    h2 {
      font-weight: 500;
      font-size: 18px;
      text-align: center;
      color: var(--black);
      @media (max-width: 567px) {
        font-size: 14px;
      }
    }
    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 100%;
      text-align: center;
      color: var(--orange);
      @media (max-width: 567px) {
        font-size: 14px;
      }
    }
  }
  &__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }
  &__center-city {
    display: flex;
    align-items: baseline;
    gap: 10px;
    @media (max-width: 1100px) {
      display: none;
    }
  }
  &__center-city-title {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--gray);
  }
  &__center-city-name {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--black);
  }
  &__center-links {
    display: flex;
    align-items: center;
    gap: 15px;
    @media (max-width: 1100px) {
      width: 100%;
      justify-content: space-between;
    }
  }
  &__center-btns {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (max-width: 567px) {
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
  }
  &__center-link {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--black);
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      color: var(--orange);
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 567px) {
      font-size: 14px;
    }
  }
  &__center-cart {
    margin-left: 30px;
    position: relative;
    @media (max-width: 567px) {
      margin-left: 0;
    }
    span {
      position: absolute;
      bottom: 0;
      right: 5px;
      font-weight: 400;
      font-size: 20px;
      text-align: center;
      color: var(--white);
      z-index: 5;
      &::after {
        content: "";
        background: var(--orange);
        display: block;
        position: absolute;
        z-index: -1;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 25px;
        height: 25px;
        border-radius: 50%;
      }
    }
  }
  &__center-cart-button {
    background-color: unset;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-5px);
    }
  }
  &__logo-small {
    display: none;
    @media (max-width: 1100px) {
      display: block;
      width: 76px;
      height: 70px;
    }
    @media (max-width: 567px) {
      width: 50px;
      height: 50px;
    }
  }
}
